html {
    padding: 0;
    margin: 0 auto;
    width: 760px;
}
h1 {
    padding-top: 20px;
}
.fieldset {
    margin: 0 5px;
    padding-top: 30px;
    height: 100%;
}
.form-item {
    padding-top: 10px;
    margin: 0 5px;
}
.form-item input, select {
    display: block;
    margin-left: 20px;
}
.form-control {
    width: 300px;
}
.form-inline {
    display: inline !important;
}
input.form-inline {
    margin-right: 7px;
}
.error {
    color: #ff0000;
}

.errorblock {
    color: #000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
}